.container-convo {
  display: grid;
  /* 3 columnas de 1fraccion */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  z-index: 100;
}

.container-convo img {
  object-fit: contain;
  max-width: 70%;
}

.container-convo .convocatoria {
  display: flex;
  justify-content: center;
}

body {
  background-color: #f1f1f1;
}
