:root {
  --text-color: #c7c7c7;
  --body-color: #202020;
  --title-color: #b7b7b7;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

.show {
  display: flex !important;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--body-color);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li > a,
nav ul a {
  display: block; /* Para poder manipular el padding mejor */
  position: relative;
  padding: 20px 15px 10px;
  text-decoration: none;
  font-size: 17px;
  color: var(--text-color);
}

nav ul li .link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;

  background-color: var(--text-color);
}

nav ul li .link:hover::before {
  transform: scaleX(1);
}

header {
  background-image: url(../img/cts3.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

#imagen {
  background-image: url(../img/cts1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

#bienvenida {
  position: absolute;
  background-color: rgba(32, 32, 32, 0.9);
  width: 780px;
  color: var(--text-color);
  padding: 30px;
  top: 130px;
  right: 20px;
  text-align: justify;
  border-radius: 5px;
  z-index: 100;
}

#primer_i {
  color: var(--text-color);
  width: 600px;
  position: absolute;
  background-color: rgba(32, 32, 32, 0.9);
  left: 20px;
  top: 755px;
  border-radius: 5px;
  padding: 20px;
  z-index: 100;
}

#bienvenida h2 {
  color: var(--title-color);
}

footer {
  background-color: var(--body-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#columna1,
#columna2,
#columna3 {
  margin-top: 20px;
  color: var(--text-color);
  max-width: 50%;
  padding: 2%;
}

#columna1 p {
  font-size: 14px;
}

footer #columna2 ul li {
  list-style: none;
  font-size: 14px;
  margin-top: 10px;
}

footer #columna2 ul li a {
  margin-left: 5px;
  text-decoration: none;
  color: var(--text-color);
}

#columna2 h3 {
  min-width: 150px;
}

.mas,
.mas2 {
  display: none;
}

.menu-mas,
.menu-mas2 {
  position: absolute;
  flex-direction: column;
  background-color: var(--body-color);
  margin-top: 75px;
  min-width: 200px;
  border-radius: 5px;

  display: none;
  z-index: 200;
}

.menu-mas a,
.menu-mas2 a {
  padding: 10px;
}

/* ---------------- NAV Mobile ---------------- */
.mobile {
  display: none;
  width: 100%;
}

nav .mobile .header {
  display: flex;
  text-align: center;
  background-color: var(--body-color);
  justify-content: space-between;
  flex-direction: row;
}

nav .mobile .header a {
  /* Icono de la parte mobile */
  color: white;
  text-decoration: none;
  display: inline-flex;
  padding: 10px;
}

nav .mobile .header #bMenuMobile {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

nav .mobile .linksMobile {
  display: none;
  flex-direction: column;
  position: relative;
  background-color: var(--body-color);
  z-index: 200;
  text-align: center;
}

nav .mobile .linksMobile a:hover {
  background-color: var(--text-color);
  color: var(--body-color);
}

nav .mobile .linksMobile a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  font-size: 20px;
  padding: 10px 20px;
}
/* ---------------- Medias querys ---------------- */

@media screen and (max-width: 1262px) {
  nav .link-hide {
    display: none;
  }

  #bienvenida {
    left: 0;
    top: 170px;
    right: 0;
    margin: auto;
  }

  #primer_i {
    left: 0;
    right: 0;
    margin: auto;
  }

  nav .mas {
    display: flex;
  }

  nav .menu-mas :hover {
    background-color: var(--text-color);
    color: var(--body-color);
    transition: all ease 0.3s;
  }

  header {
    background-position: left center;
  }
}

@media screen and (max-width: 1030px) {
  nav .link-hide {
    display: none;
  }

  nav .link-hide-hide {
    display: none;
  }

  nav .mas {
    display: none;
  }

  nav .mas2 {
    display: flex;
  }

  nav .menu-mas2 :hover {
    background-color: var(--text-color);
    color: var(--body-color);
    transition: all ease 0.3s;
  }
}

/* footer responsivo */
@media screen and (max-width: 1140px) {
  #columna3 {
    display: none;
  }
  footer {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 805px) {
  .link-hide {
    display: none;
  }

  .link-hide-hide {
    display: none;
  }

  #bienvenida {
    width: 100%;
    padding: auto;
    height: 500px;

    text-align: justify;
    height: auto;
    top: 200px;
  }

  #primer_i {
    width: 100%;
    padding: auto;
    height: 500px;

    text-align: justify;
    height: auto;
    top: 800px;
  }

  nav ul {
    display: none;
  }

  nav {
    padding: 20px 15px 10px;
  }

  .mobile {
    display: block;
  }
}

/* mobile */
@media screen and (max-width: 570px) {
  nav ul {
    display: none;
  }

  .mobile {
    display: block;
  }

  footer div {
    font-size: 18px;
  }

  nav {
    padding: 25px 20px 15px;
  }

  #bienvenida, #primer_i {
    background-color: var(--body-color);
    text-align: left;
    font-size: 15px;
  }

  footer {
    display: list-item;
  }

  footer #columna1,
  #columna2 {
    margin: auto;
    font-size: 15px;
  }

  footer #columna1 {
    max-width: 75%;
  }

  #columna2 h3,
  #columna1 h3 {
    display: none;
  }

  footer #columna2 ul li {
    margin-top: 5px;
  }
}
